# Entorno virtual
venv

# Base de datos
src/db.sqlite3

# Archivos python compilados
*.pyc

# Python cache
weblibreria/__pychache__

#configuracion entorno de desarrollo
.vscode

*.pyc
# Fotos de perfil de usuarios
src/media/users
