{% extends 'libreria/base.html' %}

{% block title %}
Blog - {{ object }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Cuenta: {{ object }}</h1>
        <h3>Nombre: {{ object.first_name }}</h3>
        <h3>Apellido: {{ object.last_name }}</h3>
        <h3>País: {{ object.country }}</h3>
        <h3>Teléfono: {{ object.phone }}</h3>
        {% if object.picture %}
            <h3>Foto:</h3>
            <img src="{{ object.picture.url }}" alt="{{ object.picture.url }}">
        {% else %}
            <h3>Foto: sin foto de perfil</h3>
        {% endif %}
        </br>
        </br>
        <h3>Roles:
            {% if object.admin %}
                Es Adminstrador
            {% elif object.manager %}
                Es Gestor
            {% elif object.executive %}
                Es Gerente
            {% else  %}
                Cliente
            {% endif %}
        </h3>
        </br>
        </br>
        {% if can_edit %}
            <a href="{% url 'profile-update' object.pk %}">Modificar perfil</a>
            </br>
            <a href="{% url 'user-delete' object.user.pk %}">Eliminar cuenta</a>
        {% endif %}
    </div>
{% endblock %}