{% extends 'libreria/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Libreria - Login
{% endblock %}

{% block content %}
<h1 class="color1 text-center">Iniciar sesión</h1>

<div class="container">
    <form class="color1" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary btn-block col-4 mx-auto" type="submit" value="Iniciar Sesión">
        <input type="hidden" name="next" value="{% url 'home' %}">
    </form>
</div>

{% endblock %}