{% extends 'libreria/base.html' %}

{% block title %}Detalle - Libro{% endblock title %}

{% block content %}

    <main class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card mx-auto w-75">
                    <img src="#" class="card-img-top card-img-size" alt="libroEjemplo">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize font-weight-bold d-inline-block">{{ book.title }}</h5> 
                        <h5 class="text-wrap float-right d-inline-block"><span class="badge badge-primary">{{ book.price }}</span></h5>
                        <p><strong>Género/s: </strong>{% for genre in book.genres.all %} {{ genre }} , {% endfor %}</p>
                        <p><strong>Autor/es: </strong>{% for author in book.authors.all %} {{ author }} {% endfor %}</p>
                        <p><strong>Editorial: </strong>{{ book.editorial }}</p>
                        <p class="card-text text-wrap text-justify">{{ book.sinopsis }}</p>
                        <div class="text-center">
                            <form method="post">
                                {% csrf_token %}
                                <!-- <a type="submit" href="#" class="btn btn-primary">Agregar al carro</a> -->
                                <input type="submit" class="btn btn-primary" value="Agregar al carro">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}